* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.container{
    border: 2px solid black;
    width: 250px;
    margin: 3rem auto;
    padding: 5px;
    
}

.container p{
    font-size: 60%;
}

.fatline{
    height: .7rem;
    background-color: black;
}

.tab1{
   font-size: 60%;
   width: 100%;
   table-layout: auto;
   
}

.tab1 th:nth-child(1){
    text-align: left;
    white-space: nowrap;
    padding-top: 10%;
}

.tab1 th:nth-child(2),
.tab1 td:nth-child(2) {
  text-align: right;
  padding-top: 10%;  
}

.tab1 th:nth-child(3),
.tab1 td:nth-child(3) {
  text-align: right;
  width: 50px;
  padding-top: 0;
}

.thinline{
    height: .1rem;
    background-color: black;
}

.tab2{
    font-size: 60%;
    width: 100%;
    table-layout: auto;
    
 }
 
 .tab2 th:nth-child(1){
     text-align: left;
     white-space: nowrap;
 }
 
 .tab2 th:nth-child(2),
 .tab2 td:nth-child(2) {
   text-align: right;
 }
 
 .tab2 th:nth-child(3),
 .tab2 td:nth-child(3) {
   text-align: right;
   width: 50px;
 }
 
 .greyline{
     height: .1rem;
     background-color: grey;
     width: 95%;
     margin-left: 10px;
 }

 .calories {
    text-indent: 5%;
 }

.semifatline {
    height: .3rem;
    background-color: black;
}

.thinnerline {
    height: .05rem;
    background-color: black;
}

.thinnergreyline {
    height: .05rem;
    background-color: grey;
}

.thinnerindline {
    height: .05rem;
    background-color: black;
    width: 95%;
    margin-left: 10px;
}

.fattergreyline {
    height: .1rem;
    background-color: grey;
}

#daily {
    font-size: 45%;
    text-align: right;
}