* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.container{
    border: 2px solid black;
    width: 250px;
    margin: 3rem auto;
    padding: 5px;
    
}

.container p{
    font-size: 60%;
}

.fatline{
    height: .7rem;
    background-color: black;
}

.tab1{
   font-size: 60%;
   width: 100%;
   table-layout: auto;
   
}

.tab1 th:nth-child(1){
    text-align: left;
    white-space: nowrap;
    padding-top: 10%;
}

.tab1 th:nth-child(2),
.tab1 td:nth-child(2) {
  text-align: center;
  padding-top: 10%;  
}

.tab1 th:nth-child(3),
.tab1 td:nth-child(3) {
  text-align: right;
  width: 50px;
  padding-top: 0;
}

.thinline{
    background-color: black;
}